@import "tailwindcss";

@layer utilities {
  .text-beschreibung {
    @apply text-gray-800 font-normal text-sm leading-tight;
  }
  .eintrag-datum {
    @apply text-sm text-gray-700 font-light;
  }
  .text-auslaufend {
    @apply whitespace-nowrap overflow-visible;
  }
}

@media print {
  .no-print {
    display: none;
  }

  span,
  p {
    break-inside: avoid;
  }

  @page {
    margin-left: 2.5cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }

  main {
    padding: 0;
  }
}
