@import "tailwindcss";

@layer utilities {
  .text-beschreibung {
    @apply text-gray-800 font-normal text-sm leading-tight;
  }
  .eintrag-datum {
    @apply text-sm text-gray-700 font-light;
  }

  /* ⚠️ Funktioniert nicht mit responsive Prefixes wie `sm:*`
       – vermutlich Tailwind-Limitierung oder Build-Issue
   */
  .text-auslaufend {
    @apply xs:whitespace-nowrap xs:overflow-visible;
  }
}

@layer base {
  .js [data-tag-breite="unset"] {
    visibility: hidden;
  }

  .no-js [data-tag-breite] {
    visibility: visible;
  }
}

@theme {
  --breakpoint-xs: 28rem;
}

@media print {
  .no-print {
    display: none;
  }

  span,
  p {
    break-inside: avoid;
  }

  @page {
    margin-left: 2.5cm;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }

  main {
    padding: 0;
  }

  body {
    padding: 0;
  }
}
